@import 'variables';

* {
    box-sizing: border-box;
}

body {
    background: $background-base;
    font-family: 'Titillium Web', sans-serif;
    color: $font-color-base;
    //font-family: 'Noto Sans', sans-serif;
}

h1 {
    i {
        color: $accent-color;
        font-style: normal;
    }
}

main#anchor {
    position: relative;
    min-height: 100%;
}

main#main {
    margin: 0 auto;
    padding: 80px 0 80px 0;
    max-width: 1024px;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    line-height: 60px;
    padding: 0 $space;

    * {
        line-height: 60px;
        display: inline-block;
    }

    i {
        color: $accent-color;
        font-style: normal;
        font-weight: bold;
    }
}
